__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.venv/
.env
.DS_Store
static/plots/*.png
saved_models for cancer dectection/
saved_models for stage classification/
saved_models for survival analysis/

# local venv
.venv/
